.About .ContenedorImagenAbout{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.About .ContenedorImagenAbout img{
    max-width: 80%;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

@media screen and (min-width: 768px){
    .About .ContenedorImagenAbout img{
        max-width: 30%;
    }
} 